#navctrl
  .navctrl-warpper
    .navctrl-separate.navctrl-item
      |
    if dark
      button#navctrl-dark.navctrl-item(title=`${dark.title}` onclick=`navctrl.changeDark()`)
        i(class=`fa-fw ${dark.icon}`)
        span=`${dark.title}`
    if random
      button#navctrl-random.navctrl-item(title=`${random.title}` onclick=`navctrl.toRandomPost()`)
        i(class=`fa-fw ${random.icon}`)
        span=`${random.title}`