#navctrl
  .navctrl-warpper
    .navctrl-separate.navctrl-item
      |
    if menu_dark
      button#navctrl-dark(class=`navctrl-item ${menu_display}` title=`${menu_dark.title}` onclick=`navctrl.changeDark()`)
        if (menu_display !== 'txt')
          i(class=`fa-fw ${menu_dark.icon}`)
        if (menu_display !== 'icon')
          span=`${menu_dark.title}`
    if menu_random
      button#navctrl-random(class=`navctrl-item ${menu_display}` title=`${menu_random.title}` onclick=`navctrl.toRandomPost()`)
        if (menu_display !== 'txt')
          i(class=`fa-fw ${menu_random.icon}`)
        if (menu_display !== 'icon')
          span=`${menu_random.title}`